configuration {
    modi: "drun,run";
    show-icons: false;
    display-drun: " ";
    display-run: " ";
    drun-display-format: "{name}";
    font: "JetBrainsMono Nerd Font 10";
}

* {
    bg: #080808;              /* Deep CRT Black */
    fg: #a8a8a8;              /* Clean readable light gray for unselected */
    highlight-bg: #ffb000;    /* Vibrant Amber Gold Wide Selector Bar */
    highlight-fg: #080808;    /* Deep Black text on Amber Bar (High contrast) */
}

window {
    width: 750px;
    background-color: @bg;
    border: 1px;
    border-color: #ffb000;
    border-radius: 4px;
    padding: 24px;
    location: center;
    anchor: center;
}

mainbox {
    background-color: transparent;
    children: [ inputbar, listview ];
    spacing: 12px;
}

inputbar {
    background-color: transparent;
    children: [ prompt, entry ];
    border-bottom: 1px;
    border-color: #ffb000;
    padding-bottom: 10px;
}

prompt {
    background-color: transparent;
    text-color: #ffb000;
    margin: 0 10px 0 0;
}

entry {
    background-color: transparent;
    text-color: #ffffff;
    placeholder: "Search...";
    placeholder-color: #555555;
    cursor-color: #ffb000;
}

listview {
    background-color: transparent;
    lines: 7;
    spacing: 6px;
    scrollbar: false;
}

element {
    padding: 10px 16px;
    border-radius: 4px;
    background-color: transparent;
    text-color: @fg;
}

element normal.normal {
    background-color: transparent;
    text-color: @fg;
}

element alternate.normal {
    background-color: transparent;
    text-color: @fg;
}

/* Wide Amber Selector Bar */
element selected.normal, element selected.active {
    background-color: @highlight-bg;
    text-color: @highlight-fg;
}

element-text {
    background-color: transparent;
    text-color: inherit;
    highlight: inherit;
    cursor: inherit;
}
